*{
    color:black;
}

.headercontainer{
    
    display: flex;
    flex-direction: column;
}

.headertitle{
    flex: 1;
}

.body{
    
}

.anchorarticle{
    text-decoration: none;
    
}

.articletitle{
    font-size: xx-large;
    font-weight: bold;
}

.articletext{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#abstract{

}

.headerul{
    display: flex;
    justify-content: center;

}

.Reacttimes{
    font-family: 'Grenze Gotisch', cursive;
    font-size: xxx-large;
}

.headerbutton{
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    width: 70px;
}

.headerbutton:hover{
    background-color: black;
    color:white
}

.articlecontent{
    display: flex;
    padding-left:100px;
    padding-right:100px;
}

.footer{
    background-color: blueviolet;
}